@import "../../res/colors.css";
@import "../../res/fonts.css";

.documents {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.documents__content {
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.documents__title {
  font-size: 5em;
  color: var(--blue);
}

.content__markdown {
  margin-top: 50px;
  margin-bottom: 40px;
}

.document__selector{
  width: 50px;
  text-align: center;
  background-color: var(--white);
  color: var(--blue);
  text-decoration: none;
  border: none;
  padding: 2px 5px;
}

.document__selector:hover{
  text-decoration: underline;
}