.dataTable__container{
  margin: 5% 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color:#0091bf;
}
.dataTable__container h3{
  margin-bottom: 20px;
}
.dataTable__content{
  padding: 15px;
  display: flex;
  border-radius: 15px;
  border: 1px solid #0091bf;
}