.navbar {
  background-color: #0091BF ;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.menu-bars{
  margin-left: 2rem;
  font-size: 2rem;
  background-color: none;
}