.navbar {
  background-color: #0091BF ;
  height: 60px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar__menu{
  margin-left: 1.2rem;
  font-size: 1.2rem;
  background-color: none;
}

