.color-dark {
  color: #ffffff;
}

.color-light {
  color: #0091bf;
}

.navbar {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-dark {
  background-color: #0091bf;
}

.navbar-light {
  background-color: #ffffff;
}

.navbar__menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.2rem;
  font-size: 1.2rem;
  background-color: none;
}

.navbar__menu-bars:hover {
  color: rgb(90, 90, 90);
}

.navbar__logo img {
  width: 40px;
  margin-left: 1.2rem;
}

.menu__bars-close:hover {
  color: rgb(90, 90, 90);
}

.menu__bars-close a {
  margin-left: 1.2rem;
}

.navbar__menu {
  background-color: #0091bf;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
}

.navbar__menu.active {
  right: 0;
  transition: 350ms;
}

.navbar__text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.navbar__text a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 5px 16px;
  border-radius: 4px;
}

.navbar__text a:hover {
  background-color: #ffffff;
  color: #0091bf;
}

.navbar__menu-items {
  padding: 0;
  width: 100%;
}

.navbar__toggle {
  background-color: #0091bf;
  padding-right: 1.2rem;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  margin-left: 16px;
}
