@import "../../res/colors.css";
.Footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}
.color-dark {
  color: var(--white);
}
.color-light {
  color: var(--blue);
}
.b-color-light {
  background-color: var(--white);
}
.b-color-dark {
  background-color: var(--blue);
}
.Footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.docs-links {
  display: flex;
  flex-direction: row;
}
.Footer__contact-list {
  display: flex;
  flex-direction: row;
}
.list__element {
  margin: 0;
  padding: 0;
}
.element__link {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.element__link:hover {
  color: var(--gray);
}
.Facebook__icon {
  width: 24px;
  margin: 0 15px;
}